APScheduler
bidict
blinker
click
colorama
dnspython
eventlet
Flask
Flask-SocketIO
Flask-SQLAlchemy
greenlet
h11
itsdangerous
Jinja2
MarkupSafe
pymodbus
pyserial
python-engineio
python-socketio
pytz
simple-websocket
six
SQLAlchemy
typing_extensions
tzdata
tzlocal
Werkzeug
wsproto
python-dotenv
pymysql
cryptography
